body {
    background-color: #202228;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default margin */
    color: #48862d;
}



header {
    background-color: #333;
    color: #FFD700;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#logo {
    width: 100px;
    height: 75px;
    border-radius:100px;
}


.headText {
    font-size: 32px;
    font-weight: bold;
}

#logOnButton {
    background-color: #009933;
    color: #FFD700;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 



.headerCentre {
    text-align: center;
}

#headerTitle {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    float: left;
}


#logOnButton {
    margin-right: 10px;
}

#displayUser {
    margin: 0;
    padding: 0;
} 

#homeButtons {
    text-align: center;
}



/* fonts and colours*/
h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
    font-family: "Aptos Black", sans-serif;
    color: #FFD700; 
    text-align: center;
}

p, label {
    font-family: "Aptos Light", sans-serif;
    color: #48862d;
    text-align: center;
}



li a {
    font-family: "Aptos Black", sans-serif;
}

/* Style for buttons and imputs*/

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #009933;
    color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

input {
    padding: 5px;
    border: 1px solid #12151a;
    border-radius: 5px;
}


/* Facts CSS */
#Facts {
    background-color: #252A34;
    padding: 10px;
    border-radius: 10px;
    text-align: left; /* Set the text alignment for the entire section */
}



#Facts h2, #Facts p {
    text-align: left; /* Apply text alignment to h2 within the section */
}

#Facts ul li {
    font-family: "Aptos Light", sans-serif;
}

#factQuestions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.factQuestionContainer {
    width: 245px;
    height: 220px;
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center both horizontally */
    margin: 10px;
    cursor: pointer;
    font-family: "Aptos Light", sans-serif;
}

.factQuestionContainer img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.factQuestionContainer p {
    font-size: 20px;
    display: none;
    text-align: center; /* Center the text horizontally */
}


/* Style for the navigation bar */

ul.navbar {
    border-radius: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    display: flex;
}

/* Style for the navigation bar items */
ul.navbar li {
    margin: 0;
    padding: 0;
    flex: 1;
}

/* Style for the navigation bar links */
ul.navbar li a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect */
ul.navbar li a:hover {
    background-color: black;
    color: white;
}
